body{
    font: 16px/28px arial,sans-serif;
    background-color: #eaeaea;
    background-image: url(../image_1/pngtree-traditional-image_1437663.jpg) ;
    color: #333;
}

.container{
    width: 800px;
    margin: auto;
    background-color: #fff;
}

.header{
    padding: 20px;
    padding-bottom: 2px ;
}
.header .judul{
    font-size: 40px;
    font-weight: bold;
}
.header ul li {
    display: inline-block;
    margin-top: auto;
    margin-right: 10px;
    padding-bottom: 5px ;
}

.header a{
    text-decoration: none;
    color: rgb(15, 156, 218);
    padding: 3px;
}

.header a:hover{
    background-color: lightskyblue;
    color: white;
}

.hero{
    height: 300px;
    background-image: url(../image_1/Persib-Bandung.jpg);
    background-size: cover;
    background-position: 30 -10;
    
    
}

.content {
    padding: 20px;
}

.persib{
     
        height: 300px;
        background-image: url(../image_1/01hz7qada18fmz4hp4k6ad9dek.jpg);
        background-size:auto;
        background-position: 30 -10;
        
        
}


.content h2{
    font-size: 30px;
    font-weight: bold;
    justify-content:center ;
}

.content .penulis{
    font-size: 11px;
    margin-top: -25px ;

}

.content .penulis{
    color: rgb(70, 13, 226);
    text-decoration: none;

}

.content p{
    margin-bottom: 20px;
    font-size: 14px;
}
.juara{
    height: 300px;
        background-image: url(../image_1/098519700_1415378591-Persib_Juara_3__1_.jpg);
        background-size:cover;
        background-position: 30 -10;
        border-top: 5px solid lightskyblue ;
        border-bottom: 5px solid salmon ;
}
.piala{
    height: 300px;
        background-image: url(../image_1/piala.jpg);
        background-size:contain;
        background-position: 30 -10;
        border-top: 5px solid lightskyblue ;
        border-bottom: 5px solid salmon ;
}


.well{
    text-align: center;
}

main{
    display: flex;
    flex-direction: row;
}

.footer{
    background-color: rgb(61, 60, 60);
    padding: -10px;
}

.footer .copy{
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
}