
body {
    font-family: Arial;
    margin: 20px
}
table {
    widht: 50px;
    border-collapse: collapse;
    margin:  20px;

}


table {
    widht: 50%;
    border-collapse: collapse;
    margin: 20px;
}

table, th, td {
    border: 1px solid black;
}
th, td  {
    text-align: center;
    padding: 10px;
}

body {
    background-color: light blue;
    background-image: url(background.22.jpg);
}

h1 {
 color: blue;
}

from {
    margin: 20px 0;
}
label {
    marginn-right: 10px;
}

input[type="text"], textarea {
    widht: 300px;
    padding:  5px;
    margin: 5px 0;
    border: 1px soliid #ccc;
    border-radius: 5px;
}

button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a849;
}

.copyright {
    marrgin-top: 20px;
    font-style: italic;
}